body{
    margin: 0;
    padding: 0;
}

h1{
    color:white ;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border: 1px solid black;
    text-align: center;
}
    

h2{
    color: #0C0C0C ;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    color: #0C0C0C;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p1 {
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

@font-face {
    font-family: 'Poppins';
    src: url('addons/Poppins-Regular.ttf') format(ttf);
    font-weight: normal;
    font-style: normal;
}

#banner{
    /* width: 100%; */
    height: 690px;
    z-index: -1;
    border: 1px solid black;
    /* position: absolute;
    width: 100%;
    object-fit: cover; */

    background-image: url(img/bgImg.jpg);
    background-repeat: no-repeat;
    background-position: relative;
    background-size:100%;
    background-position-y: 30%;

    margin: 0 auto;
    /* padding-bottom: 200px; */
}


header{
    height: 70px;
    position: static;
    background: rgba(12,12,12, 0.5);
    /* background-color: #0C0C0C; */
    /* opacity: 0.5; */
    z-index: +2;
    top: 0;
    left: 0;
    padding: 1%;
    /* margin-top: -8px; */

}

/* input [type= "text"] {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
} */

footer{
    width: 100%;
    height: auto;
    background-color: #870909;
    position: absolute;
    /* margin-left: -8px; */
    text-align: center;
}

footer p1{
    color: white;
}

/* .container{
    display: flex;
    background-image: url(img/bgImg.jpg);
    width: 100%;
    height: 690px;
    background-repeat: no-repeat;
    background-position: relative;
    background-size:100%;
    background-position-y: 30%;
}

.container div{
    border: 1px solid black;
    margin: 10px;
    height: 50px;
    padding: 20px;
}

.flex-container{
    display: flex;
    flex-direction: column;
} */